body{
    margin:0;
}
section{
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;
}
.title-container{
    display: flex;
}
.title-half{
    width: 50%;
    margin-top: 120px;
    
}

.title-img{
    width: 50%;
}
.title-img img{
    width: 60%;
    margin-left: 25%;
}
.title-heading{
    border-left: 3px solid;
    border-radius: 10px;
    border-image: linear-gradient(tomato,red);
    border-image-slice: 1;
    padding-left: 5px;
    background-origin: border-box;
    
}
.title-heading h1{
    font-family: 'Lora', serif;
    font-size: 45px;
}

.orange-color{
    color: orange;
}
#explore-btn{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 25px;
    color: white;
}
.center{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.mission-container{
    display: flex;
}

#mission{
    width: 30%;
    margin-right: 3%;
    background-color: #c7dcc7;
    padding: 20px 20px ;
    border-radius: 15px;
}
#vission{
    width: 30%;
    margin-right: 3%;
    background-color: #f4eecc;
    padding: 20px 20px ;
    border-radius: 15px;
}
#goals{
    width: 30%;
    background-color:#edc9cd;
    padding: 20px 20px ;
    border-radius: 20px;
}

.mission-container img{
    width: 40%;
}

.working-container-1{
    display: flex;
    margin-left: 2%;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position:left center;
    
}
.working-container-2{
    display: flex;
    margin-right: 2%;
    margin-bottom: 100px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position:bottom right;
}
.working-img1{
    width: 45%;
    margin-left: 75px;
}
.working-img2{
    width: 45%;
}
.working-description{
    width: 50%;
}
.working-img1 img{
    width: 80%;
    border-radius: 20px;
}
.working-img2 img{
    width: 80%;
    border-radius: 20px;
    margin-left: 90px;
}
.read-btn{
    text-decoration: none;
    background-color: tomato;
    color: white;
    margin-top: 10px;
    padding: 12px 40px;
    border-radius: 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 15px;
    
}
.tomato-color{
    color: tomato;
}
footer h4{
    font-family: 'Lobster',cursive;
    font-weight: 350;
}